<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OGURI'S SERVICES</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">


    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/aos.css">

    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

    <main class="main-homepage">

        <!-- Header -->
        <header class="header-area">
            <div class="container">
                <div class="gx-row d-flex align-items-center justify-content-between">
                    <a href="{% url 'index' %}" class="logo">
                        <img src="/static/assets/images/logo.svg" alt="Logo">
                    </a>

                    <nav class="navbar">
                        <ul class="menu">
                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'works' %}">Works</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                        <a href="{% url 'contact' %}" class="theme-btn">Let's talk</a>
                    </nav>

                    <a href="{% url 'contact' %}" class="theme-btn">Let's talk</a>

                    <div class="show-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>

        <!-- Service -->
        <section class="service-area">
            <div class="container">
                <h1 class="section-heading" data-aos="fade-up"><img src="/static/assets/images/star-2.png" alt="Star"> My Offerings <img src="/static/assets/images/star-2.png" alt="Star"></h1>
                
                <div class="row">

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="service-sidebar" data-aos="fade-right">
                            <div class="service-sidebar-inner shadow-box">
                                <ul>
                                    <li>
                                        <i class="iconoir-camera icon"></i>
                                        DATA ANALYSIS
                                    </li>
                                    <li>
                                        <i class="iconoir-design-pencil icon"></i>
                                        UI/IX DESIGN
                                    </li>
                                    <li>
                                        <i class="iconoir-color-filter icon"></i>
                                        GRAPHICS DESIGN
                                    </li>
                                    <li>
                                        <i class="iconoir-dribbble"></i>
                                        DATA SCINECE
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="col-md-8">
                        <h1 class="section-heading" data-aos="fade-up"><img src="/static/assets/images/star-2.png" alt="Star"> My Offerings <img src="/static/assets/images/star-2.png" alt="Star"></h1>

                        <div class="service-content-wrap" data-aos="zoom-in">
                            <div class="service-content-inner shadow-box">
                                <div class="service-items">
                                    <div class="service-item">
                                        <h3>DATA ANALYSIS</h3>
                                        <p>Having conducted extensive analyses for prominent organizations like NITA and Paladium. Proficient in an array of tools, including Excel and PowerBI, I transform raw data into actionable insights that drive strategic decisions. Whether unraveling intricate patterns or visualizing complex datasets, my analytical skills are honed to deliver clarity and value.</p>
                                    </div>
                                    <div class="service-item">
                                        <h3>UI/IX DESIGN</h3>
                                        <p>With a proven track record of shaping mobile apps and web designs for notable platforms, including Safaricom and VSTech. With a rich tapestry of 3 years of experience, I bring a blend of creativity and functionality to every project.Let's embark on a design expedition, Leave your work with unforgettable experience, meticulously crafted for both aesthetics and usability.</p>
                                    </div>
                                    <div class="service-item">
                                        <h3>GRAPHICS DESIGN</h3>
                                        <p>With seasoned graphics designer boasting 5 years of unparalleled expertise. I am the creative force behind captivating brand identities, mesmerizing videos, iconic logos, and trendy T-shirt designs. With an innate ability to transform ideas into stunning visuals, I bring brands to life, infusing them with a unique charisma that resonates in every pixel."</p>
                                    </div>
                                    <div class="service-item">
                                        <h3>DATA SCIENCE</h3>
                                        <p>
                                            I bring a wealth of hands-on experience with projects spanning sentiment analysis, crime detection, and machine learning. My expertise extends beyond project execution to a mastery of deep SQL, unlocking the potential of vast datasets. Beyond my project portfolio, I've also shared my knowledge as an educator, teaching data science at GSDC.</p>
                                    </div>
                                </div>
                            </div>S
                        </div>
                    </div>

                </div>


                <div class="row mt-24">
                    <div class="col-md-12">
                        <div class="d-flex profile-contact-credentials-wrap gap-24">

                            <div data-aos="zoom-in">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="/static/assets/images/bg1.png" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons shadow-box">
                                        <a href="#">
                                            <i class="iconoir-dribbble"></i>
                                        </a>
                                        <a href="#">
                                            <i class="iconoir-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Stay with me</h4>
                                            <h1>Profiles</h1>
                                        </div>
    
                                        <a href="{% url 'contact' %}" class="about-btn">
                                            <img src="/static/assets/images/icon.svg" alt="Button">
                                        </a>
    
                                    </div>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="flex-1">
                                <div class="about-contact-box info-box shadow-box">
                                    <a class="overlay-link" href="{% url 'contact' %}"></a>
                                    <img src="/static/assets/images/bg1.png" alt="BG" class="bg-img">
                                    <img src="/static/assets/images/icon2.png" alt="Icon" class="star-icon">
                                    <h1>Let's <br>work <span>together.</span></h1>
                                    <a href="{% url 'contact' %}" class="about-btn">
                                        <img src="/static/assets/images/icon.svg" alt="Button">
                                    </a>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="h-full">
                                <div class="about-crenditials-box info-box shadow-box">
                                    <a class="overlay-link" href="{% url 'credentials' %}"></a>
                                    <img src="/static/assets/images/bg1.png" alt="BG" class="bg-img">
                                    <img src="/static/assets/images/sign.png" alt="Sign">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>more about me</h4>
                                            <h1>Credentials</h1>
                                        </div>
    
                                        <a href="{% url 'credentials' %}" class="about-btn">
                                            <img src="/static/assets/images/icon.svg" alt="Button">
                                        </a>
    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-content text-center">
                    <a href="index.html" class="logo">
                        <img src="/static/assets/images/logo.svg" alt="Logo">
                    </a>
                    <ul class="footer-menu">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'works' %}">Works</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <p class="copyright">
                        &copy; All rights reserved by <span>@josephoguri</span>
                    </p>
                </div>
            </div>
        </footer>

    </main>
    

    <script src="/static/assets/js/jquery-3.6.4.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/aos.js"></script>
    <script src="/static/assets/js/main.js"></script>
</body>


</html>